<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86197451963-8te40sofa9q457bojf92moi94np7c7en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86197451963-8te40sofa9q457bojf92moi94np7c7en</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>86197451963-5661uqrik52cr6r7l7et9s9r6k0ela4j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMukgTNS1HSUo8uNZJiey60G3JbATDm58</string>
	<key>GCM_SENDER_ID</key>
	<string>86197451963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.smsAuth2</string>
	<key>PROJECT_ID</key>
	<string>smsauth-56460</string>
	<key>STORAGE_BUCKET</key>
	<string>smsauth-56460.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86197451963:ios:7cee87ada5aa4355353d9e</string>
</dict>
</plist>