<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646047715818-8jn5k21el6svslmj1ani38r4bie2fdr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646047715818-8jn5k21el6svslmj1ani38r4bie2fdr2</string>
	<key>API_KEY</key>
	<string>AIzaSyCoJ1NmrDTIt5yOBXk966IN6sXhbZr3Br0</string>
	<key>GCM_SENDER_ID</key>
	<string>646047715818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Diary</string>
	<key>PROJECT_ID</key>
	<string>tenmin-398be</string>
	<key>STORAGE_BUCKET</key>
	<string>tenmin-398be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646047715818:ios:e2f26fdcb8f35b32ac2293</string>
	<key>DATABASE_URL</key>
	<string>https://tenmin-398be-default-rtdb.firebaseio.com</string>
</dict>
</plist>